:root {
  font-family: fantasy;
  font-size: max(3ex, 3vmax);
}

:focus {
  outline-style: dotted;
  outline-width: thick;
}

body {
  margin: auto;
  overflow-wrap: anywhere;
}

figure {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: auto;
  min-height: 300vh;
}

.life {
  border-radius: 100%;
  box-sizing: border-box;
  cursor: crosshair;
  display: flow-root;
  flex-basis: 100%;
  font-weight: bold;
  min-height: 300vh;
  margin: 2em;
  padding: 3em;
  text-align: center;
  text-decoration-style: wavy;
}
